@import "~styles/variables.scss";

header {
    width:100%;
    text-align:center;
    background: linear-gradient(to top, #efefef, white);
    padding-top: 1.5em;
    border-bottom: 2px solid $border-color;
    float: left;
    .center {
        display: inline-block;
    }
    h1 {
        line-height: 1.8em;
    }
    .fa {
        padding-left: 0.5em;
        border-right: 2px solid $border-color;
        padding-right: 0.5em;
    }
    .right, .left, .hamburger {
        position: relative;
        bottom: -0.3em;
    }
    ul {
        li {
            display: inline;
        }
    }
}


// FOR MOBILE
@media screen and (max-width: $mobile) {
    .hamburger {
        float: right;
        display: inline-block;
    }
    header {
        .left, .right, .center {
            display: block;
            clear: both;
            float: right;
            width: 100%;
        }
        ul {
            li {
                text-align: center;
                display: block;
                clear: both;
            }
        }
        .fa {
            margin-bottom: $padding;
            text-align: center;
            border-right: none;
        }
    }
    .hide {
        background-color: red !important;
        color: red !important;
        display: none !important;
    }
}


