<div class="mails-nav">
    <div class="left">
        <a href="#">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>
    <div class="center">
        <p>All items({{mails.length}})</p>
    </div>
    <div class="right">
        <a href="#">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<div class="search-container-shadow">
    <div class="search-container">
        <div class="left">
            <input type="text" placeholder="Search" [(ngModel)]="filterText">
        </div>
        <div class="right">
            <a href="javascript: void(0)">
                <i class="fa fa-search"></i>
            </a>
            <a href="javascript: void(0)" (click)="refreshData()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>


<div class="mails-container">
    <app-mail class="clearfix" [ngClass]="{'active': mail.id === activeId }" (click)="selectMail(mail)" *ngFor="let mail of mails | mailsfilter: filterText"
        [mail]="mail"></app-mail>
    <!-- "push" content up because of fixed header and footer-->
    <div style="height: 200px;"></div>
</div>