@import "~styles/variables.scss";



.header-preview {
    height: 3em;
    border: 1px solid $border-color;
    background-color: white;
    p {
        text-align: center;
        line-height: 3em;
    }
}

.preview-container {
    width: 100%;
    height: 100%;
    background-color: $blue;
    display: block;
    padding: 2 * $padding;
    h1 {
        margin-bottom: 1em;
    }
}