$gray: #666666;
$blue: #def0f3;
$gradient-light: #51a6ae;
$gradient-dark: #274e7a;
$gray-dark: #3e4548;
$green: #32753b;
$red: #bd3027;
$border-color: #e0e0e0;

$padding: 1em;
$max-width: 1280px;
$mobile: 720px;